@model IEnumerable<Hotel_Management_System.Models.Cleaning>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff_ID)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff_ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Task_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Task_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Task_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
